body {
  padding: 40px;
}

header {
  z-index: 1;
  margin-top: -50px;
  left: 0;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar_left {
  margin-left: 50px;
  display: flex;
  width: 150px;
  height: 40px;
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
  align-items: center;
}

.bar_right {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 90px;
}

header .circle {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 20px;
}

.search {
  width: 300px;
  height: 40px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  margin-right: 20px;
}

header img {
  position: absolute;
  width: 20px;
  padding-left: 430px;
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
}

.circle_white {
  width: 30px;
  height: 30px;
  border-color: gray;
  border-radius: 50%;
  border: 2px solid gray;
}

section {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

/* 1. video */

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 2. info */

.info {
  padding-left: 20px;
  padding-right: 20px;
}

.info .views {
  margin-bottom: 80px;
}

.info .tag {
  padding-top: 10px;
  color: blue;
}

.info .views {
  color: gray;
}

.info ul {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  justify-content: space-around;
  list-style: none;
}

.info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

.info ul .circle {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
}

.youtuber {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.youtuber_info {
  display: flex;
  flex-direction: row;
}

.youtuber_circle {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 20px;
}

.youtuber span {
  color: gray;
}

.youtuber_subscribe {
  cursor: pointer;
  border: 0;
  padding: 0 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: red;
  display: flex;
  align-items: center;
}

/* 3. comment */
.comments-container {
  padding: 20px;
}

.comments-container .comments {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile .circle {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border-radius: 50%;
}

.content {
  width: 100%;
}

.content span {
  margin-left: 10px;
  color: gray;
}

.following {
  color: blue;
}

.likes ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.likes li {
  display: flex;
  flex-direction: column;
  color: gray;
  align-items: center;
}

.likes .circle {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 50%;
}

.likes li p {
  margin-top: 7px;
}

/* 4. recommended */

.recommended-container {
  padding: 20px;
}

.recommend {
  display: flex;
  flex-direction: row;
}

.recommeded_video {
  margin-bottom: 30px;
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

.recommend p {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.recommend span {
  color: gray;
}


@media only screen and (max-width: 960px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}